@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --gold1: #F4BD76;
    --gold2: #F6CD8F;
    --gray: #ffffff80;
    --gray2: #f7d9d990;
    --black1: #1A1B1F;
    --black2: #30553B;
    --shadow: 0px 8px 8px;
    --color_shadow: #00000033;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Bebas Neue', cursive;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 100px 0;
    height: auto;
}
header{
    width: 100%;
    height: 600px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image: url(../img/engineer-man-testing-optical-fiber.jpg);
}
nav{
    width: 100%;
    position: fixed;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
    background: #2D2D2E;
}
.nav1{
    background: transparent;
    height: 80px;
    color: #fff;
    background: #2D2D2E;
}
.nav2{
    background: #f2f2f2;
    height: 100px;
    color: #000;
}
.contenedor-nav{
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    height: inherit;
    overflow: hidden;
}
nav .enlaces a{
    display: inline-block;
    padding: 5px 0;
    margin-right: 17px;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color: inherit;
}
nav .enlaces a:hover{
    border-bottom: 3px solid #E22223;
    transition: 0.6s;
}
.logo, .logo img{
    top: 12px;
    height: 70px;
    margin: 0px;
    margin-top: -1%;
    padding: 5px;
    margin-right: 30px;
}
.icono{
    display: none;
    font-size: 24px;
    padding: 23.5px 20px;
}
.btnDesc{
    background: #d7241c;
    color: #fff;
}






.head{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.container--modifier{
    width: 60%;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, #30353B 0%, #1A1B1F 100%);
}
.nav__hero{
    color: #ffffff;
    height: 70px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.nav__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0;
}
.logo__name{
    font-size: 24px;
}
.link{
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-weight: 300;
    padding: 10px;
}
.point{
    color: #E22223;
}
.point1{
    color: #E22223;
}
.hero__main{
    height: calc(100vh - 70px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
.mockup{
    width: 48%;
    object-fit: cover;
    max-height: 90vh;
}
.hero__textos{
    width: 48%;
}
.title{
    font-size: 56px;
    font-size: 300;
    color: #fff;
}
.title--active{
    color: var(--gold1);
    font-weight: 700;
}
.copyl{
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 15px;
    top: 4px;
    text-align: center;
}
.copy{
    font-size: 45px;
    color: #fff;
    text-shadow: var(--shadow) var(--color_shadow);
    margin: 15px 0;
}
.cta{
    padding: 20px 30px;
    display: inline-block;
    background: #e32c20;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    box-shadow: var(--shadow) var(--color_shadow);
    border-radius: 6px;
    font-size: 25px;
}

/*Compañia*/
.contenedor-gestion{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.contenedor-gestion img{
    width: 22%;
}
.copycomp{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.portada-gestion{
    width: 45%;
}
.gestion{
    margin-bottom: 20px;
}
.subtitle1{
    font-size: 42px;
    text-align: center;
}
.cta1{
    padding: 10px 20px;
    display: inline-block;
    background: #e32c20;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    box-shadow: var(--shadow) var(--color_shadow);
    border-radius: 6px;
    width: 24%;
    margin-top: 5%;
}





/*Services*/
.services{
    background: #fafafa;
}
.subtitle{
    font-size: 42px;
}
.sub{
    font-size: 42px;
}
.subtitle--modifier{
    text-align: center;
    margin-bottom: 16px;
}
.copy__section{
    color: var(--black2);
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 60px;
}
.copy__section--modifier{
    text-align: center;
    margin-bottom: 32px;
}

.container-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    width: 30%;
    padding: 30px 0;
    overflow: hidden;
    background: #F1F1F1;
    border-radius: 10px;
    position: relative;
    text-align: right;
    margin-bottom: 60px;
    box-shadow: 0 0 6px var(--color_shadow);
    z-index: -1;
}
.card__img{
    text-align: left;
    width: 95%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}
.cards__text{
    text-align: left;
    width: 90%;
    margin: 0 auto;
}
.card__list{
    color: var(--gold2);
    font-weight: 700;
    margin: 25px 0 12px;
    font-size: 18px;
}
.card__title{
    font-size: 30px;
    color: #E0062C;
    margin-bottom: 8px;
}
.card__t{
    font-size: 30px;
    color: #E0062C;
    margin-bottom: 8px;
    text-align: center;
}
.card__copy{
    color: #000;
    margin-bottom: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.card__c{
    color: #000;
    font-size: 15px;
    color: #707070;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: -5%;
}
.card__button{
    display: block;
    background: linear-gradient(180deg, #F4BD76 0%, #1A1B1F 100%);
    border-radius: 6px;
    text-decoration: none;
    width: 100%;
    color: var(--black1);
    font-weight: 700;
    text-align: center;
    padding: 12px 0;
}
.card__date{
    color: var(--gold2);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
}
.container-bg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.background{
    width: 68%;
    height: 290px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 60px;
}
.background__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}
.background__text{
    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 15px;
    color: #fff;
}
.background__title{
    font-size: 24px;
    margin-bottom: 4px;
}

/*Testimony*/
.testimony{
    background: #fafafa;
}
.testimony-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.testimony__card{
    width: 30%;
    height: 230px;
    background: #E9E9E9;
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;
    z-index: -1;
}
.testimony__img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
    object-position: center top;
}
.testimony__copy{
    position: absolute;
    bottom: 20px;
    left: 5%;
    width: 90%;
    background: linear-gradient(180deg, #30353B 0%, #1A1B1F 100%);
    color: #000;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: var(--shadow) var(--color_shadow);
    padding: 15px 8px;
    display: flex;
    align-items: center;
}
.testimony__copy--modifier{
    background: none;
    box-shadow: none;
}
.testimony__logo{
    font-size: 40px;
    margin-right: 15px;
    display: inline-block;
}
.testimony__name{
    font-size: 24px;
    line-height: 28px;
}
.testimony__position{
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}
.testimony__text{
    padding: 40px 0;
    width: 90%;
    margin: 0 auto;
    color: #000;
}
.google__logo{
    margin-bottom: 20px;
}
.testimony__history{
    font-size: 21px;
    font-weight: 300;
}
.testimony__info{
    width: 70%;
}
.logo--picture{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center top;
}

/*Check*/
.check{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
}
.check__item{
    width: 30%;
    padding-right: 10px;
    display: flex;
    border-right: 2px solid var(--black2);
}
.bx-check{
    background: linear-gradient(180deg, #30353B 0%, #1A1B1F 100%);
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 20px;
    color: #fff;
    border-radius: 50%;
    font-size: 40px;
}
.check__number{
    font-weight: 300;
}
.check__copy{
    font-weight: 300;
}

.newsletter--modifier{
    margin: 0;
    width: 80%;
}
.newsletter__input{
    width: 100%;
    height: 100%;
    padding: 22px 10px;
    outline: none;
    font-family: inherit;
    border-radius: 6px;
    border: 1px solid var(--black1);
}
.newsletter__submit{
    position: absolute;
    right: 8px;
    top: 10%;
    height: 40%;
    background: linear-gradient(180deg, #30353B 0%, #1A1B1F 100%);
    color: #fff;
    padding: 0 15px;
    border: none;
    border-radius: 6px;
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
}


/*Footer*/

footer{
    background: #2D2D2E;
    padding-bottom: 0.1px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contactanos{
    width: 40%;
    color: #fff;
    z-index: -1;
}
.contactanos img{
    height: 59px;
    margin-left: 47px;
}
.copyfoot{
    margin-left: 25%;
    display: flex;
    font-weight: 300;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.contactanos i{
    color: #000;
}
.empresa{
    font-weight: 500;
    font-size: 40px;
}
.empresa+p{
    font-weight: 500;
}
.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.social-media-icono{
    display: inline-block;
    margin-right: 25px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    
}
.social-media-icono:hover{
    background: #fff;
    color: #163286;
}
.social-media-icono i{
    font-size: 30px;
    line-height: 60px;
}
.linea{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}
.linea2{
    width: 10%;
    max-width: 1200px;
    margin: 0 auto;
    height: 5px;
    background: #E22223;
    margin-bottom: 60px;
    margin-top: -2.5%;
}
.lin{
    width: 50%;
    max-width: 1200px;
    margin: 0 auto;
    height: 3px;
    background: #E22223;
    margin-bottom: 60px;
    
}
.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #707070;
    margin-bottom: 60px;
}
.footer__copy{
    /*width: 100%;
    color: #ffffff;
    display: flex;*/
    flex-wrap: wrap;
    color: #fff;
    text-align: center;
    margin-bottom: 16px;
}
.item{
    width: 50%;
    padding-right: 90px;
    display: flex;
    border-right: 2px solid #fff;
}
.btn{
    padding: 5px 10px;
    display: inline-block;
    background: #e32c20;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    box-shadow: var(--shadow) var(--color_shadow);
    border-radius: 6px;
    font-size: 25px;
    margin-top: -12%;
    margin-right: 32px;
}
.card1{
    width: 50%;
    height: 455px;
    padding: 30px 0;
    overflow: hidden;
    background: #F1F1F1;
    border-radius: 10px;
    position: relative;
    text-align: right;
    margin-bottom: 60px;
    box-shadow: 0 0 6px var(--color_shadow);
}
.sercta{
    margin-left: 38%;
}

/*Nosotros*/
.frase{
    text-align: center;
    margin-top: 6%;
    font-size: 40px;
    color: #2D2D2E;
}
.abb{
    width: 360px;
    height: 200px;
}
.card__nos{
    color: #000;
    font-weight: 300;
    font-size: 25px;
}
.point__nos{
    font-weight: 300;
    color: #E22223;
    text-align: center;
}
.reparando{
    height: 400px;
}
.bnos{
    padding: 10px 20px;
    display: inline-block;
    background: #e32c20;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    box-shadow: var(--shadow) var(--color_shadow);
    border-radius: 6px;
    width: 22%;
    margin-top: 5%;
    margin-left: 32%;
    font-size: 22px;
}
.copynos{
    font-size: 42px;
}


/*Servicios*/
.serv{
    font-size: 40px;
}
.baja{
    font-size: 28px;
}
.cardc{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: #707070;
}
.line2{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #707070;
    margin-bottom: 60px;
    margin-top: 5%;
}
.card2{
    width: 30%;
    height: 340px;
    padding: 30px 0;
    overflow: hidden;
    background: #F1F1F1;
    border-radius: 10px;
    position: relative;
    text-align: right;
    margin-bottom: 60px;
    box-shadow: 0 0 6px var(--color_shadow);
    margin-right: 15%;
}
.img1{
    width: 30%;
    height: 355px;
    display: flex;
}
.img2{
    width: 30%;
    height: 20pxpx;
}
.img3{
    width: 30%;
    height: 20pxpx;
}
.linea3{
    width: 20%;
    max-width: 1200px;
    margin: 0 auto;
    height: 5px;
    background: #E22223;
    margin-bottom: 60px;
    margin-top: -2.5%;
    margin-right: 85%;
}
.zeus{
    font-size: 42px;
    margin-top: -8%;
    margin-left: 26%;
}
.copyserv{
    font-size: 32px;
}
.fluke{
    font-size: 30px;
    color: #E22223;
}
.des{
    color: #707070;
    font-family: Arial, Helvetica, sans-serif;
}
.tfluke{
    color: #707070;
    text-align: center;
    font-size: 42px;
}
.t_fluke{
    color: #707070;
    text-align: center;
    font-size: 42px;
    margin-top: -7%;
    margin-right: 22%;
}
.par{
    font-size: 22px;
    color: #707070;
    font-family: Arial, Helvetica, sans-serif;
}
.phone{
    color: #E22223;
    font-size: 45px;
    margin-top: 10%;
    text-align: center;
    margin-right: 10%;
}
.inspec{
    height: 400px;
    margin-top: 19%;
    box-shadow: 0 0 18px var(--color_shadow);
}
.cardS{
    width: 30%;
    padding: 30px 0;
    overflow: hidden;
    background: #F1F1F1;
    border-radius: 10px;
    position: relative;
    text-align: right;
    margin-bottom: 60px;
    box-shadow: 0 0 6px var(--color_shadow);
    margin-left: 15%;
}
.cardSe{
    width: 30%;
    padding: 30px 0;
    overflow: hidden;
    background: #F1F1F1;
    border-radius: 10px;
    position: relative;
    text-align: right;
    margin-bottom: 60px;
    box-shadow: 0 0 6px var(--color_shadow);
    margin-right: 15%;
}
.flukeCard{
    width: 30%;
    height: 230px;
    background: #E9E9E9;
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;
    margin-left: 15%;
}
.fluke__card{
    width: 30%;
    height: 230px;
    background: #E9E9E9;
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;
    margin-right: 15%;
}


/*Contacto*/
.contac{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3%;
}
.contac1{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
}
.copycont{
    font-size: 42px;
    margin-top: 3%;
}
.tcont{
    font-size: 40px;
}
.newsletter{
    margin: 0 auto;
    width: 60%;
    margin-top: 40px;
    height: auto;
    font-family: inherit;
    position: relative;
    border-radius: 6px;
    margin-top: 15%;
}
.newsletter__input{
    width: 98%;
    height: 100%;
    padding: 22px 10px;
    outline: none;
    font-family: inherit;
    border-radius: 6px;
    border: 1px solid var(--black1);
    margin-top: 2%;
}
.area{
    padding: 18px 10px;
    outline: none;
    font-family: inherit;
    border-radius: 6px;
    border: 1px solid var(--black1);
    margin-top: -20%;
}
.ctab{
    width: 22%;
    text-align: center;
    padding: 12px 10px;
    display: inline-block;
    background: #e32c20;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    box-shadow: var(--shadow) var(--color_shadow);
    border-radius: 6px;
    font-size: 22px;
    margin-top: 5%;
    margin-left: 35%;
}
.imgUbi{
    margin-left: 40%;
    margin-top: -50%;
}
.t1{
    font-size: 25px;
    color: #E22223;
    text-align: center;
}
.t2{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #707070;
    text-align: center;
    margin-top: 4%;
}
.t3{
    font-size: 17px;
    color: #E22223;
    text-align: center;
    margin-top: 4%;
}

@media screen and (max-width:1024px){
    .linea2{
        width: 15%;
        max-width: 1200px;
        margin: 0 auto;
        height: 5px;
        background: #E22223;
        margin-bottom: 60px;
        margin-top: -3%;
        margin-right: 30%;
    }
    .cta{
        padding: 20px 30px;
        display: inline-block;
        background: #e32c20;
        text-decoration: none;
        color: #fff;
        font-weight: 400;
        box-shadow: var(--shadow) var(--color_shadow);
        border-radius: 6px;
        font-size: 19px;
        margin-right: 5%;
    }
    .item{
        width: 65%;
        padding-right: 35px;
        display: flex;
        border-right: 2px solid #fff;
    }
    .item img{
        height: 55px;
    }
    .copyfoot{
        margin-left: 25%;
        display: flex;
        font-weight: 300;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .testimony__card{
        width: 30%;
        height: 258px;
        background: #E9E9E9;
        border-radius: 10px;
        position: relative;
        margin-bottom: 30px;
    }
    .cta1{
        padding: 10px 20px;
        display: inline-block;
        background: #e32c20;
        text-decoration: none;
        color: #fff;
        font-weight: 300;
        box-shadow: var(--shadow) var(--color_shadow);
        border-radius: 6px;
        width: 32%;
        margin-top: 5%;
    }
    .cta{
        padding: 15px 20px;
        display: inline-block;
        background: #e32c20;
        text-decoration: none;
        color: #fff;
        font-weight: 400;
        box-shadow: var(--shadow) var(--color_shadow);
        border-radius: 6px;
        font-size: 25px;
        margin-left: 5%;
    }
    .frase{
        text-align: center;
        margin-top: 6%;
        font-size: 24px;
        color: #2D2D2E;
        font-weight: 300;
    }
    .copynos{
        font-size: 28px;
    }
    .nexperto{
        font-size: 35px;
    }
    .bnos{
       width: 28%;
    }
    .mision{
        height: 210px;
        width: 250px;
    }
    .t_fluke{
        color: #707070;
        text-align: center;
        font-size: 42px;
        margin-top: -10%;
        margin-right: 22%;
    }
    .area{
        padding: 18px 10px;
        outline: none;
        font-family: inherit;
        border-radius: 6px;
        border: 1px solid var(--black1);
        margin-top: -20%;
        width: 98%;
    }
    .imgUbi{
        width: 60%;
    }
}
@media screen and (max-width:900px){
    .nav2{
        color: #fff;
    }
    .icono{
        display: block;
        cursor: pointer;
    }
    .enlaces{
        position: fixed;
        top: 80px;
        background: #2D2D2E;
        left: 0;
        height: 100%;
        transition: 1s;
        width: 0;
        overflow: hidden;
    }
    .enlaces a{
        display: block;
        width: 100%;
        height: 95px;
        padding: 20px;
        text-align: center;
        background: #2D2D2E;
        color: #fff;
    }
    .title{
        font-size: 30px;
    }
    .copy{
        font-size: 35px;
        color: #fff;
        text-shadow: var(--shadow) var(--color_shadow);
        margin: 15px 0;
    }
    .cta{
        padding: 15px 22px;
    }
    .container-cards{
        justify-content: space-evenly;
    }
    .services .card{
        width: 55%;
    }
    .background{
        width: 52%;
    }
    .card{
        width: 42%;
    }
    .card1{
        width: 65%;
    }
    .testimony-container{
        justify-content: space-evenly;
    }
    .testimony__card{
        width: 55%;
        display: flex;
    }
    .sercta{
        margin-left: 31%;
    }
    .linea2{
        width: 20%;
        max-width: 1200px;
        margin: 0 auto;
        height: 5px;
        background: #E22223;
        margin-bottom: 60px;
        margin-top: -4%;
        margin-right: 12px;
    }
    .sub{
        text-align: center;
    }
    .check__item{
        width: 45%;
        margin-bottom: 35px;
    }
    .newsletter{
        width: 80%;
    }
    .download{
        width: 100%;
    }
    .download__app{
        justify-content: space-between;
    }
    .download__item{
        width: 45%;
    }
    .get-email{
        width: 100%;
        margin-bottom: 40px;
    }
    .socialmedia__icon{
        font-size: 18px;
    }
    .socialmedia__legend{
        font-size: 18px;
    }
    .contenedor-gestion img{
        width: 70%;
    }
    .copycomp{
        font-size: 25px;
        margin-top: 10%;
    }
    .cta1{
        padding: 14px 14px;
        border-radius: 6px;
        width: 48%;
        margin-top: 10%;
        margin-left: 85px;
    }
    .item img{
        height: 40px;
    }
    .bnos{
        width: 41%;
    }
    .reparando{
        margin-top: 10%;
    }
    .copyserv{
        font-size: 25px;
    }
    .card2{
        width: 50%;
        height: 420px;
        padding: 30px 0;
        overflow: hidden;
        background: #F1F1F1;
        border-radius: 10px;
        position: relative;
        text-align: right;
        margin-bottom: 60px;
        box-shadow: 0 0 6px var(--color_shadow);
        margin-right: 15%;
    }
    .t_fluke{
        color: #707070;
        text-align: center;
        font-size: 42px;
        margin-top: -12%;
        margin-left: 25%;
    }
    .fluke{
        font-size: 22px;
    }
    .flukeCard{
        width: 30%;
        height: 285px;
        background: #E9E9E9;
        border-radius: 10px;
        position: relative;
        margin-bottom: 30px;
        margin-left: 15%;
    }
    .fluke__card{
        width: 30%;
        height: 285px;
        background: #E9E9E9;
        border-radius: 10px;
        position: relative;
        margin-bottom: 30px;
        margin-right: 15%;
    }
    .cardS{
        width: 50%;
        padding: 30px 0;
        overflow: hidden;
        background: #F1F1F1;
        border-radius: 10px;
        position: relative;
        text-align: right;
        margin-bottom: 60px;
        box-shadow: 0 0 6px var(--color_shadow);
        margin-left: 15%;
    }
    .cardSe{
        width: 50%;
        padding: 30px 0;
        overflow: hidden;
        background: #F1F1F1;
        border-radius: 10px;
        position: relative;
        text-align: right;
        margin-bottom: 60px;
        box-shadow: 0 0 6px var(--color_shadow);
        margin-right: 15%;
    }
    .flukeCard{
        width: 50%;
        height: 230px;
        background: #E9E9E9;
        border-radius: 10px;
        position: relative;
        margin-bottom: 30px;
        margin-left: 15%;
    }
    .fluke__card{
        width: 50%;
        height: 230px;
        background: #E9E9E9;
        border-radius: 10px;
        position: relative;
        margin-bottom: 30px;
        margin-right: 15%;
    }
    .contac{
        font-size: 25px;
    }
    .imgUbi{
        width: 65%;
        margin-top: -2%;
        margin-left: 20%;
    }
}

@media screen and (max-width:700px){
    
    main .container,
    footer .container{
        padding: 60px 0;
    }
    .logo, .logo img{
        top: 12px;
        height: 70px;
        margin: 0px;
        margin-top: -3%;
        padding: 5px;
        margin-right: 30px;
    }
    .copycomp{
        font-size: 21px;
        margin-top: 10%;
    }
    .cta1{
        padding: 14px 14px;
        border-radius: 6px;
        width: 58%;
        margin-top: 10%;
        margin-left: 65px;
    }
    .item{
        width: 65%;
        padding-right: 35px;
        display: flex;
        border-right: 2px solid #fff;
    }
    .item img{
        height: 28px;
    }
    .copyfoot{
        margin-left: 25%;
        display: flex;
        font-weight: 300;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .nav__container{
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .nav__hero{
        height: auto;
    }
    .logo{
        padding: 15px 0;
        text-align: center;
    }
    .linea2{
        width: 9%;
        max-width: 1200px;
        margin: 0 auto;
        height: 5px;
        background: #E22223;
        margin-bottom: 60px;
        margin-top: -4%;
        margin-right: 0px;
    }
    .sercta{
        margin-left: 26%;
    }
    .card1{
        width: 80%;
    }
    .btn{
        font-size: 20px;
        margin-top: -20%;
    }
    .item img{
        font-size: 10px;
    }
    .links{
        padding-bottom: 10px;
        text-align: center;
    }
    .link{
        padding: 7px 10px;
    }
    .hero__main{
        flex-direction: column-reverse;
        justify-content: flex-end;
        margin: auto;
        padding: 30px 0;
    }
    .hero__textos{
        width: 100%;
        text-align: center;
    }
    .subtitle{
        font-size: 35px;
        text-align: center;
    }
    .copy__section{
        font-size: 20px;
        text-align: center;
    }
    .services .card{
        width: 80%;
    }
    .container-bg{
        justify-content: space-evenly;
    }
    .card{
        margin-bottom: 40px;
        width: 65%;
    }
    .card__title{
        font-size: 35px;
    }
    .card__button{
        width: 100%;
    }
    .background{
        width: 65%;
        margin-bottom: 40px;
    }
    .background__copy{
        display: none;
    }
    .testimony__card{
        width: 65%;
    }
    .testimony__name{
        font-size: 20px;
    }
    .container--modifier{
        width: 80%;
    }
    .item__contact{
        width: 100%;
        padding: 30px 0;
    }
    .copy{
        font-size: 28px;
        color: #fff;
        text-shadow: var(--shadow) var(--color_shadow);
        margin: 15px 0;
    }
    .bnos{
        width: 49%;
    }
    .copyserv{
        font-size: 20px;
    }
    .t_fluke{
        color: #707070;
        text-align: center;
        font-size: 35px;
        margin-top: -17%;
        margin-left: 25%;
    }
    .tfluke{
        font-size: 35px;
    }
    .par{
        font-size: 17px;
    }
    .phone{
        font-size: 32px;
    }
    .contac{
        font-size: 22px;
    }
    .imgUbi{
        width: 75%;
        margin-left: 12%;
    }
}

@media screen and (max-width:500px){
    .logo, .logo img{
        top: 12px;
        height: 60px;
        margin: 0px;
        margin-top: -1%;
        padding: 5px;
        margin-right: 30px;
    }
    .copycomp{
        font-size: 16px;
        margin-top: 10%;
    }
    .cta1{
        padding: 14px 14px;
        border-radius: 6px;
        width: 95%;
        margin-top: 10%;
        margin-left: 10px;
    }
    .item{
        width: 100%;
        padding-right: 45px;
        display: flex;
        border-right: 2px solid #fff;
    }
    .item img{
        height: 22px;
    }
    .copyfoot{
        margin-left: 52%;
        display: flex;
        font-weight: 300;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .copyright{
        margin-top: -5%;
    }
    .social-media{
        width: 90%;
        display: flex;
        justify-content: flex-end;
        margin-top: 5%;
        margin-left: 4%;
    }
    .copy{
        font-size: 25px;
        color: #fff;
        text-shadow: var(--shadow) var(--color_shadow);
        margin: 15px 0;
    }
    .services .card{
        width: 95%;
    }
    .sub{
        font-size: 35px;
    }
    .card{
        width: 95%;
    }
    .card__title{
        font-size: 25px;
    }
    .card__copy{
        font-size: 14px;
    }
    .sercta{
        margin-left: 16%;
    }
    .cta{
        font-size: 18px;
    }
    .card1{
        width: 95%;
        height: 25%;
    }
    .btn{
        font-size: 16px;
        width: 90px;
        margin-top: -1%;
        margin-left: 55%;
    }
    
    .background{
        width: 95%;
    }
    .testimony__card{
        width: 95%;
    }
    .testimony__history{
        font-size: 20px;
    }
    .container--modifier{
        width: 90%;
    }
    .newsletter{
        width: 90%;
        display: block;
    }
    .newsletter--modifier{
        display: block;
    }
    .check__item{
        width: 100%;
        border: none;
        padding: none;
        justify-content: center;
    }
    .download__item{
        width: 49%;
    }
    .download__title{
        font-size: 16px;
    }
    .copynos{
        font-size: 25px;
    }
    .frase{
        font-size: 18px;
    }
    .cta1{
        width: 100%;
        font-size: 15px;
    }
    .subtitle1{
        font-size: 35px;
    }
    .bnos{
        width: 89%;
        margin-left: 5%;
    }
    .reparando{
        height: 270px;
        margin-top: 10%;
    }
    .cardS{
        width: 100%;
        margin-left: 0%;
    }
    .card2{
        width: 100%;
        height: 420px;
        margin-right: 0%;
    }
    .cardSe{
        width: 95%;
        margin-right: 0%;
    }
    .flukeCard{
        width: 95%;
        margin-left: 0%;
    }
    .fluke__card{
        width: 95%;
        margin-right: 0%;
    }
    .par{
        font-size: 17px;
    }
    .tfluke{
        font-size: 30px;
    }
    .t_fluke{
        font-size: 29px;
        margin-top: -29%;
    }
    .copycont{
        font-size: 26px;
    }
    .imgUbi{
        width: 95%;
        margin-left: 2%;
    }
    .ctab{
        width: 40%;
        margin-left: 29%;
    }
}